.contentBar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50% auto;
  margin: 0 0 -4vmin 0;
}

.record {
  font-size: 5vmin;
  background-color: red;
  margin: 0 5vmin 0 0;
}

@keyframes glowingRed {
  0% {
    background-color: #ff0000;
    box-shadow: 0 0 3px #ff0000;
  }
  50% {
    background-color: #ff8787;
    box-shadow: 0 0 10px #ff8787;
  }
  100% {
    background-color: #ff0000;
    box-shadow: 0 0 3px #ff0000;
  }
}

.glowingRed {
  animation: glowingRed 1000ms infinite;
}

.metronome {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 6vmin 0;
}

.metronome > * {
  font-size: 5vmin;
  margin: 0 0 -6vmin 0;
}

.playPauseMetronome {
  background-color: green;
}

@keyframes glowingGreen {
  0% {
    background-color: #2ba805;
    box-shadow: 0 0 3px #2ba805;
  }
  50% {
    background-color: #49e819;
    box-shadow: 0 0 10px #49e819;
  }
  100% {
    background-color: #2ba805;
    box-shadow: 0 0 3px #2ba805;
  }
}

.glowingGreen {
  animation: glowingGreen 500ms infinite;
}

.noteTracker {
  font-size: 5vmin;
  margin: 0 0 0 5vmin;
}

@media only screen and (max-width: 1350px) {
  .contentBar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50% auto;
    margin: 0 0 -4vmin 0;
  }
  
  .record {
    font-size: 4vmin;
    margin: 0 2vmin 0 0;
  }
  
  .metronome > * {
    font-size: 4vmin;
    margin: 0 0 -6vmin 0;
  }
  
  .noteTracker {
    font-size: 4vmin;
    margin: 0 0 0 3vmin;
  }
}