.contentBar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 -4vmin 0;
}

.record {
  background-color: red;
}

.noteTracker {
  font-size: 4vmin;
  margin: -3.2vmin 0 0 3vmin;
}