.songsPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90vmin;
  margin: 0 auto;

  .song {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 28vmin;
    width: 90vw;
    margin-top: 2vmin;

    .songHeader {
      position: relative;
      text-align: center;
      height: 4vmin;
      width: 90vw;
      background: var(--light-black);
      border-radius: 1vmin;

      .songTitle {
        font-size: 3vmin;
        color: var(--off-white);
      }

      .blue {
        color: var(--blue);
      }

      .purple {
        color: var(--purple);
      }
    }

    .mainSec {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 24vmin;

      .playbutton {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 3vmin;
        width: 3vmin;
        margin-bottom: -2vmin;
        margin-left: -86vmin;
        background: var(--pink);
        border-radius: 50%;
        z-index: 2;
        cursor: pointer;
      }

      .songStaff {
        margin: auto;
      }
    }
  }
}
