.userSongsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 3.5vmin;
}

.userSongInfo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 3vmin 0 0 0;
}

.showStaffButton {
  background-color: gray;
}

.userSongStaff {
  display: none;
}