.staffContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5vmin 0 5vmin 0;
}

.staff {
  display: grid;
  grid-template-areas:
    'ENoteContainer'
    'DNoteContainer'
    'CNoteContainer'
    'BNoteContainer'
    'ANoteContainer'
    'GNoteContainer'
    'FNoteContainer';
  height: 20vmin;
  width: 91vmin;
  background: linear-gradient(to bottom, #eee 0%, #fff 100%);
  border: 1px solid black;
  z-index: 2;
}

.staff > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.staffLines {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20vmin;
  width: 91vmin;
  margin: -24.5vmin 0 0 0;
  z-index: 1;
}

.line {
  height: 5vmin;
  width: 90.9vmin;
  border-bottom: 0.01vmin solid black;
  z-index: 1;
}

.ENoteContainer {
  grid-area: ENoteContainer;
  height: 3vmin;
}

.DNoteContainer {
  grid-area: DNoteContainer;
  height: 3vmin;
  margin: -1vmin 0 0 0;
}

.CNoteContainer {
  grid-area: CNoteContainer;
  height: 0vmin;
}

.BNoteContainer {
  grid-area: BNoteContainer;
  height: 4vmin;
}

.ANoteContainer {
  grid-area: ANoteContainer;
  height: 2vmin;
}

.GNoteContainer {
  grid-area: GNoteContainer;
  height: 1.5vmin;
}

.FNoteContainer {
  grid-area: FNoteContainer;
  height: 8.5vmin;
}

.offsetLeft {
  margin: 0 0 0 -2vmin;
}

.played {
  display: block;
}

.notPlayed {
  display: none;
}
