.downwardsQuarterNoteImg {
  height: 35vmin;
  background: transparent;
  margin: 0 0 0 0;
}

.downwardsQuarterNoteImg > img {
  height: 18vmin;
}

@media only screen and (max-width: 1350px) {
  .downwardsQuarterNoteImg > img {
    height: 13vmin;
  }
}