nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 7.5vh;
  overflow: hidden;
  text-align: center;
  background-color: var(--gray);
}

.popup {
  position: fixed;
  width: 50%;
  height: 50vh;
  top: 25%;
  left: 25%;
  z-index: 6;
}

.none {
  display: none;
}

.header {
  font-size: 3.5vmin;
  font-weight: bold;
  letter-spacing: 0.25vmin;
  position: absolute;
  left: 5vw;
  cursor: default;

  a {
    text-decoration: none;
    color: var(--white);

    .pink {
      color: var(--pink);
    }
    .purple {
      color: var(--purple);
    }
    .blue {
      color: var(--blue);
    }
  }
}

.sideNavOpenButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: sticky;
  right: 5vw;
  height: 4vmin;
  width: 4vmin;
  background-color: var(--off-white);
  border: 0.1vmin solid black;
  border-radius: 10px;
  z-index: 5;
  -webkit-transition: all 0.75s ease;
  -moz-transition: all 0.75s ease;
  -ms-transition: all 0.75s ease;
  -o-transition: all 0.75s ease;
  transition: all 0.75s ease;

  :hover {
    cursor: pointer;
  }

  div {
    height: 1vmin;
    width: 2.5vmin;
    border-bottom: 0.31vmin solid black;
    -webkit-transition: all 0.75s ease;
    -moz-transition: all 0.75s ease;
    -ms-transition: all 0.75s ease;
    -o-transition: all 0.75s ease;
    transition: all 0.75s ease;
  }

  .line1 {
    margin: -0.6vmin 0 0 0;
  }

  // TODO: change px to vmin;
  .active1 {
    -webkit-transform: translate(3px) translateY(12px) rotateZ(45deg);
    -moz-transform: translate(3px) translateY(12px) rotateZ(45deg);
    -ms-transform: translate(3px) translateY(12px) rotateZ(45deg);
    -o-transform: translate(3px) translateY(12px) rotateZ(45deg);
    transform: translate(3px) translateY(12px) rotateZ(45deg);
  }

  .active2 {
    width: 0;
  }

  .line3 {
    margin: -0.05vmin 0 0 0;
  }

  .active3 {
    -webkit-transform: translate(-2px) translateY(-10px) rotateZ(-45deg);
    -moz-transform: translate(-2px) translateY(-10px) rotateZ(-45deg);
    -ms-transform: translate(-2px) translateY(-10px) rotateZ(-45deg);
    -o-transform: translate(-2px) translateY(-10px) rotateZ(-45deg);
    transform: translate(-2px) translateY(-10px) rotateZ(-45deg);
  }
}

.spacer {
  height: 100%;
  width: 0;
  visibility: none;
  -webkit-transition: all 0.75s ease;
  -moz-transition: all 0.75s ease;
  -ms-transition: all 0.75s ease;
  -o-transition: all 0.75s ease;
  transition: all 0.75s ease;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: var(--black);
  opacity: 0.75;
  z-index: 4;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.sideNav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 5;
  top: 0;
  right: 0;
  background-color: var(--off-white);
  overflow-x: hidden;
  padding-top: 5vmin;
  -webkit-transition: all 0.75s ease;
  -moz-transition: all 0.75s ease;
  -ms-transition: all 0.75s ease;
  -o-transition: all 0.75s ease;
  transition: all 0.75s ease;

  .link {
    text-align: left;
    width: 100%;
    text-decoration: none;
    font-size: 3vmin;
    color: black;
    display: block;
    padding: 1vmin 0;

    .icon {
      margin: 0 3vmin;
    }
  }

  div {
    height: 75%;

    :hover {
      background-color: var(--blue);
    }
  }
}

.active {
  border: 1px solid var(--gray);
  box-shadow: 0 0.25vmin var(--gray);
}

@media screen and (max-height: 480px) {
  .sideNav {
    padding-top: 15px;
  }

  .sideNav > * {
    font-size: 2vmin;
  }

  .spacer {
    height: 45vmin;
  }
}
