nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.welcome {
  font-size: 3vmin;
  cursor: default;
}

.header {
  font-size: 6vmin;
  font-weight: bold;
  letter-spacing: 0.5vmin;
  margin: 0 0 0 -11vmin;
  cursor: default;
}

.sideNavOpenButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 5vmin;
  width: 5vmin;
  background-color: #E2D9D1;
  border: 0.4vmin solid black;
  border-radius: 10px;
}

.sideNavOpenButtonLine1, .sideNavOpenButtonLine2, .sideNavOpenButtonLine3 {
  height: 1.2vmin;
  width: 3vmin;
  border-bottom: 0.4vmin solid black;
}

.sideNavOpenButtonLine1 {
  margin: -0.6vmin 0 0 0;
}

.sideNavOpenButtonLine3 {
  margin: -0.05vmin 0 0 0;
}

.sideNavOpenButton:hover {
  cursor: pointer;
}

.sideNav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 3;
  top: 0;
  right: 0;
  background-color: #E2D9D1;
  overflow-x: hidden;
  padding-top: 5vmin;
  transition: 0.5s;
}

.sideNav > * {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 3vmin;
  color: black;
  display: block;
  transition: 0.3s;
}

.sideNav > *:hover {
  background-color: white;
}

.spacer {
  height: 65vmin;
}

.spacer:hover {
  background-color: #E2D9D1;
}

.sideNavCloseButton:hover {
  cursor: pointer;
}

@media only screen and (max-width: 1350px) {
  .welcome {
    font-size: 2.5vmin;
  }

  .header {
    font-size: 3.5vmin;
    margin: 0 0 0 -9vmin;
  }

  .sideNavOpenButton {
    height: 4vmin;
    width: 4vmin;
    border: 0.31vmin solid black;
  }

  .sideNavOpenButtonLine1, .sideNavOpenButtonLine2, .sideNavOpenButtonLine3 {
    height: 1vmin;
    width: 2.5vmin;
    border-bottom: 0.31vmin solid black;
  }
  
  .sideNavOpenButtonLine1 {
    margin: -0.6vmin 0 0 0;
  }
  
  .sideNavOpenButtonLine3 {
    margin: -0.05vmin 0 0 0;
  }
}

@media screen and (max-height: 450px) {
  .sideNav {
    padding-top: 15px;
  }

  .sideNav > * {
    font-size: 2vmin;
  }

  .spacer {
    height: 45vmin;
  }
}