nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.welcome {
  font-size: 3vmin;
}

.welcome:hover {
  cursor: default;
}

.sideNavOpenButton:hover {
  cursor: pointer;
}

.sideNavOpenButton > img {
  height: 5vmin;
}

.sideNav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 3;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 5vmin;
  transition: 0.5s;
}

.sideNav > * {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 3vmin;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sideNav > *:hover {
  background-color: white;
}

.spacer {
  height: 65vmin;
}

.spacer:hover {
  background-color: #111;
}

.sideNavCloseButton:hover {
  cursor: pointer;
}

@media only screen and (max-width: 1350px) {
  .welcome {
    font-size: 2.5vmin;
  }

  .sideNav > img {
    height: 4vmin;
  }
}

@media screen and (max-height: 450px) {
  .sideNav {
    padding-top: 15px;
  }
  .sideNav > img {
    height: 2vmin;
  }

  .sideNav > * {
    font-size: 2vmin;
  }
}