nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7.5vh;
  overflow: hidden;
  text-align: center;
  background-color: var(--gray);
}

.header {
  font-size: 3.5vmin;
  font-weight: bold;
  letter-spacing: 0.25vmin;
  margin-left: 5vw;
  cursor: default;

  a {
    text-decoration: none;
    color: var(--white);

    .pink {
      color: var(--pink);
    }
    .purple {
      color: var(--purple);
    }
    .blue {
      color: var(--blue);
    }
  }
}

.sideNavOpenButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 4vmin;
  width: 4vmin;
  background-color: var(--blue);
  border: 0.31vmin solid black;
  border-radius: 10px;
  margin-right: 5vw;
  z-index: 10;

  :hover {
    cursor: pointer;
  }

  div {
    height: 1vmin;
    width: 2.5vmin;
    border-bottom: 0.31vmin solid black;
  }

  .line1 {
    margin: -0.6vmin 0 0 0;
  }

  .line3 {
    margin: -0.05vmin 0 0 0;
  }
}

.sideNav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 3;
  top: 0;
  right: 0;
  background-color: var(--blue);
  overflow-x: hidden;
  padding-top: 5vmin;
  transition: 0.5s;

  .link {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 3vmin;
    color: black;
    display: block;
    transition: 0.3s;

    :hover {
      background-color: var(--purple);
    }
  }

  div {
    height: 75%;

    :hover {
      background-color: var(--blue);
    }
  }
}

.active {
  background-color: var(--pink);
}

@media screen and (max-height: 480px) {
  .sideNav {
    padding-top: 15px;
  }

  .sideNav > * {
    font-size: 2vmin;
  }

  .spacer {
    height: 45vmin;
  }
}
