:root {
  --white: #ffffff;
  --black: black;
  --light-gray: #ccd7e4;
  --gray: #828a95;
  --blue: #ceeaf7;
  --purple: #d5c9df;
  --pink: #dcb8cb;
  --red: red;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  background-color: var(--light-gray);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}

.flex-ctr-ctr {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  padding: 3vmin;
  background-color: var(--pink);
  border: 0.1vmin solid var(--pink);
  border-radius: 1vmin;
}

p.error-message {
  color: var(--red);
  text-align: center;
}

form {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1.25vmin;
  color: var(--black);
}

label {
  font-size: 2vmin;
  display: flex;
  align-items: center;
}

input {
  padding: 1vmin;
  font-size: 2vmin;
  border: 0.1vmin solid var(--white);
  border-radius: 0.5vmin;
  color: var(black);
  background-image: none !important; /* prevent lastpass */
  outline: none;
}

input:focus {
  border-color: var(--black);
}

button,
a.button {
  margin: 1vmin;
  padding: 1vmin;
  color: var(--black);
  background-color: var(--blue);
  font-size: 2vmin;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  border: 0.1vmin solid var(--blue);
  border-radius: 0.5vmin;
  outline: none;
  cursor: pointer;
}

button.btn-sm {
  font-size: 1.5vmin;
  padding: 0.6vmin 0.8vmin;
}

button.btn-xs {
  font-size: 1vmin;
  padding: 0.4vmin 0.5vmin;
}

button:disabled,
form:invalid button[type='submit'] {
  cursor: not-allowed;
  background-color: var(--purple);
}

button[type='submit'] {
  grid-column: span 2;
  margin: 1vmin 0 0;
}
